src/Daterpillar/daterpillar.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://raw.githubusercontent.com/ackara/daterpillar/master/src/daterpillar/daterpillar.xsd"
           xmlns="https://raw.githubusercontent.com/ackara/daterpillar/master/src/daterpillar/daterpillar.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           id="daterpillar">
  <xs:element name="schema">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="table"
                    type="Table"
                    minOccurs="0"
                    maxOccurs="unbounded" />

        <xs:element name="script"
                    type="Script"
                    minOccurs="0"
                    maxOccurs="unbounded" />
      </xs:sequence>

      <xs:attribute name="name"
                    type="xs:string"
                    use="optional" />

      <xs:attribute name="description"
                    type="xs:string"
                    use="optional" />
    </xs:complexType>
  </xs:element>

  <!-- TYPES -->

  <xs:complexType name="Table">
    <xs:sequence>
      <xs:element name="comment"
                  type="xs:string"
                  minOccurs="0" />

      <xs:element name="column"
                  type="Column"
                  minOccurs="0"
                  maxOccurs="unbounded" />

      <xs:element name="foreignKey"
                  type="ForeignKey"
                  minOccurs="0"
                  maxOccurs="unbounded" />

      <xs:element name="index"
                  type="Index"
                  minOccurs="0"
                  maxOccurs="unbounded" />
    </xs:sequence>

    <xs:attribute name="name"
                  type="xs:string"
                  use="required" />
  </xs:complexType>

  <xs:complexType name="Column">
    <xs:sequence>
      <xs:element name="comment"
                  type="xs:string"
                  minOccurs="0" />

      <xs:element name="dataType"
                  type="DataType" />
    </xs:sequence>

    <xs:attribute name="name"
                  type="xs:string"
                  use="required" />

    <xs:attribute name="nullable"
                  type="xs:boolean"
                  use="optional"
                  default="0" />

    <xs:attribute name="default"
                  type="xs:string"
                  use="optional" />

    <xs:attribute name="autoIncrement"
                  type="xs:boolean"
                  default="0"
                  use="optional" />
  </xs:complexType>

  <xs:complexType name="Index">
    <xs:sequence>
      <xs:element name="columnName"
                  type="IndexColumn"
                  maxOccurs="unbounded" />
    </xs:sequence>

    <xs:attribute name="name"
                  type="xs:string"
                  use="optional" />

    <xs:attribute name="unique"
                  type="xs:boolean"
                  default="0" />

    <xs:attribute name="type">
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="index" />
          <xs:enumeration value="primaryKey" />
        </xs:restriction>
      </xs:simpleType>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ForeignKey">
    <xs:all>
      <xs:element name="onUpdate"
                  type="ForeignKeyRule"
                  minOccurs="0" />

      <xs:element name="onDelete"
                  type="ForeignKeyRule"
                  minOccurs="0" />
    </xs:all>

    <xs:attribute name="name"
                  type="xs:string"
                  use="optional" />

    <xs:attribute name="localColumn"
                  type="xs:string"
                  use="required" />

    <xs:attribute name="foreignTable"
                  type="xs:string"
                  use="required" />

    <xs:attribute name="foreignColumn"
                  type="xs:string"
                  use="required" />

    <xs:attribute name="onUpdate"
                  type="ForeignKeyRule"
                  default="Cascade" />

    <xs:attribute name="onDelete"
                  type="ForeignKeyRule"
                  default="Restrict" />
  </xs:complexType>

  <xs:complexType name="IndexColumn">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="order"
                      type="SortOrder"
                      use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DataType">
    <xs:simpleContent>
      <xs:extension base="TypeName">
        <xs:attribute name="scale"
                      type="xs:int"
                      use="optional" />

        <xs:attribute name="precision"
                      type="xs:int"
                      use="optional" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Script">
    <xs:sequence>
      <xs:element name="code"
                  minOccurs="1"
                  maxOccurs="unbounded">
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="syntax" type="Syntax" />
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <!-- ENUMS -->

  <xs:simpleType name="Syntax">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Generic" />
      <xs:enumeration value="MSSQL" />
      <xs:enumeration value="MySQL" />
      <xs:enumeration value="SQLite" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TypeName">
    <xs:restriction base="xs:string">
      <xs:enumeration value="bool" />

      <xs:enumeration value="blob" />
      <xs:enumeration value="char" />
      <xs:enumeration value="text" />
      <xs:enumeration value="varchar" />

      <xs:enumeration value="int" />
      <xs:enumeration value="bigInt" />
      <xs:enumeration value="mediumInt" />
      <xs:enumeration value="smallInt" />
      <xs:enumeration value="tinyInt" />

      <xs:enumeration value="float" />
      <xs:enumeration value="double" />
      <xs:enumeration value="decimal" />

      <xs:enumeration value="date" />
      <xs:enumeration value="time" />
      <xs:enumeration value="dateTime" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SortOrder">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ForeignKeyRule">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoAction" />
      <xs:enumeration value="Cascade" />
      <xs:enumeration value="Restrict" />
      <xs:enumeration value="SetNull" />
      <xs:enumeration value="SetDefault" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>